/* common shared option */
/* font style */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Merriweather:wght@400;700&family=Mulish:wght@300;400;600;700;800&family=Open+Sans:wght@400;700;800&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap');

/* apply for css */
* {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}



body {
    max-width: 100%;
}

main,
header {
    /* margin: 50px 20px 0 40px;  */


    margin: 50px 130px 0 130px;

}

header {
    /* max-width: 1170px; */





}



/* header related style */
.head {
    background-color: rgba(19, 19, 24, 0.70);

    background-image: url("/Images/Group\ 13\ \(1\)\ \(1\).png");
    background-blend-mode: multiply;

    /* background image size */
    background-repeat: no-repeat;
    /* for cover full height */
    background-size: cover;
    border-radius: 1rem;
    border: 1px solid white;
   /*  border: 2px solid tomato; */





}

.banner-container1-tittle {
    color: #FFF;

    font-size: 4rem;

    font-weight: 800;
    padding: 50px 150px 0 150px;
    text-align: center;

}

.banner-container1-des {
    color: #FFF;


    font-size: 1rem;

    font-weight: 400;
    padding: 0 230px 0 230px;

    margin-bottom: 30px;

}

/* start input-field */

.input-field {

    /* style for box background */
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);

    /* for centralize the background of input field*/
    margin: 0 150px 106px 180px;
    border: 2px solid black;
    /* for responsive use fixed width */
    width: 70%;



}

.box {
    /* style for full box item and layout */
    display: grid;
    grid-template-columns: repeat(4, 22%);
    gap: 24px;
    /* padding-bottom: 90px;
    padding-left: 185px;
    padding-right: 185px;
     */
    padding: 16px 0 16px 0;
    /* grid-template-rows: span 3; */
    /* grid-column: span 1;
 */
}

.box input {
    /* style for input border */
    border-radius: 8px;
    background: #FFF;
    border: 0;
}







/* style for input  */
.input-text {
    /* for inside text of input item (placeholder)*/

    text-align: center;
    padding: 16px 5px 16px 10px;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;

    font-size: 1rem;

    font-weight: 400;


}

#btn-primary {
    border-radius: 8px;
    background: #FF5400;
    cursor: pointer;
}

/* main related style */
.main1 {
    display: flex;
    justify-content: space-between;
}

.main-container1 li {
    color: rgba(19, 19, 24, 0.70);

    font-size: 1rem;

    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 80%;


}

.main-container1-title {
    color: #131318;


    font-size: 2.5rem;

    font-weight: 800;


}

.main-container1-des {
    color: rgba(19, 19, 24, 0.70);

    font-size: 1rem;

    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 24px;
    width: 90%;


}

.main1-des {
    color: #5A5A5D;

    font-size: 1rem;

    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 24px;

    width: 90%;

}

.main1-btn {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;

    font-size: 1.250rem;

    font-weight: 800;
    border: 0;
    cursor: pointer;
    padding: 13px 34px 13px 34px;

}

.main1-image {
    height: 100%;
}

/* main part2 related style */
.main2 img {
    height: 100%;
    width: 100%;

}

/* .row {
    height: 400px;
   
    display: flex;
    gap: 10px;
    justify-content: space-around;
    margin-bottom: 5px;
    


}
 */
.row>div {
    flex: 1;
}

.row1 {
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 30px;
}

.row2 {
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 25% 50% 25%);
    gap: 10px;
    margin-bottom: 30px;
}

.row3 {
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 40% 60%);
    gap: 10px;
}

.main2-title {
    color: #131318;
    text-align: center;

    font-size: 2.50rem;

    font-weight: 800;


}

.main2-des {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;

    font-size: 1rem;
    font-style: normal;
    font-weight: 400;


}







/* main part 3 related style */
.main3-content1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 500px;
    height: 300px;
    padding-left: 20px;
    padding-top: 30px;
}

.main3-content2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 500px;
    height: 300px;
    padding-left: 20px;
    padding-top: 30px;
}

.main3-content2-title {
    color: #131318;

    font-size: 1.5rem;

    font-weight: 800;

}

.main3-content3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 500px;
    height: 300px;
    padding-left: 20px;
    padding-top: 30px;
}

.main3-content3 {
    margin-left: 30%;
}

.main3-content3-title {
    color: #131318;

    font-size: 1.5rem;

    font-weight: 800;

}

.main3-title {
    color: #131318;
    text-align: center;

    font-size: 2.5rem;

    font-weight: 800;

}

.main3-des {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    
    font-size: 1rem;
    
    font-weight: 400;
    
    
}

.main3-content3-des {
    color: #5A5A5D;

    font-size: 1.5rem;

    font-weight: 400;

}

.main3-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;


}

/* .main3-content3 {
    display: flex;
    justify-content: center;
    align-items: center;} */






.main3-title1 {
    color: #131318;


    font-size: 1.5rem;

    font-weight: 800;

}

.main3-des1 {
    color: rgba(19, 19, 24, 0.70);


    font-size: 1rem;

    font-weight: 400;






}

/* main part 4 related style */
.main4-content1 {
    background: #FFF;
    width: 500px;
    height: 300px;
    border-radius: 1rem;
    border: 1px solid #FF5400;
}

.main4-content2 img {
    height: 300px;
    width: 100%;

}


.main4-content1 input {
    display: block;
    width: 80%;
    margin-bottom: 5px;
    margin-left: 30px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding: 16px 0 16px 20px;
    border: 0;
}

.btn {
    width: 85%;
    margin-bottom: 5px;
    margin-left: 30px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding: 16px 0 16px 20px;
    background: #FF5400;
    cursor: pointer;
    border: 0;
}


.main4 {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.main4-title {
    color: #131318;

    font-size: 1.5rem;

    font-weight: 800;
    padding-top: 10px;
    padding-left: 40px;

}

.main4-des {
    color: #5A5A5D;

    font-size: 1rem;

    font-weight: 400;
    width: 90%;
    padding-left: 40px;

}


/* tag related style */

.tag a {
    text-decoration: none;
    color: #FFF;


    font-size: 1rem;

    font-weight: 400;


}

.tag-des {
    color: #FFF;

    font-size: 1.5rem;

    font-weight: 800;

}

.tag {
    border-radius: 16px;
    background: #FF5400;
    text-align: center;
    width: 250px;

    height: 100px;
    padding-top: 30px;
    position: relative;
    top: -134px;
    left: 120px;
    transform: rotate(-19.628deg) translateX(100px);

}

/* footer section styles */
.footer {
    margin: 0;
    padding: 0;
    background: rgba(19, 19, 24, 0.05);
}

.footer-container-title {
    display: inline;

}

.footer-container {
    align-items: center;
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
}


.footer ul li {
    display: inline;
}

.footer ul {
    text-align: center;
    /* padding-top: 20px; */
    padding: 0px 0px 48px 0px;
    /* margin-top: 50px; */
    margin-bottom: 20px;
}

.footer-container-des {

    text-align: center;

    font-size: 1rem;

    font-weight: 400;
    padding-top: 20px;


}

.footer-container-title {


    font-size: 2rem;

    font-weight: 800;

}

.copyright {
    color: #131318;

    font-size: 1rem;

    font-weight: 300;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

}






/* small devices */
@media screen and (max-width: 600px) {
    .banner-container1-tittle {
        font-size: 2rem;
        padding: 0;
    }

    .banner-container1-des {

        padding: 0;
        width: 100%;
        text-align: center;
    }

    .box {
        grid-template-columns: none;
    }

    .input-field {
        margin: 0 0 0 20px;
        /* text-align: center; */
        width: 90%;
        border: 0;

    }

    .head,
    main,
    header {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;

    }

    /* responsive main section */
    .main1 {
        display: block;
    }

    .main1-btn {
        margin-bottom: 20px;
    }

    .main1-image {
        margin-left: 10px;
        margin-right: 10px;
    }

    .row1 {
        grid-template-columns: none;
        height: auto;
    }

    .row2 {
        grid-template-columns: none;
        height: auto;
    }

    .row3 {
        grid-template-columns: none;
        height: auto;
    }
    .main3-content{
        flex-direction: column;
        padding-left: 30px;
    }
    .main3-content3{
        margin-left: 30px;
        
        
    }

    .main4 {
        flex-direction: column;
        gap: 10px;
        padding: 10px 10px 10px 20px;
    }

    .tag {
        width: 50%;
        left: 90px;
        top: -190px;
        transform: translateX(60px) rotate(-19.628deg);
    }

    .footer {
        width: 100%;

    }

    .footer-container-des {
        font-size: 1rem;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 0;
        padding-bottom: 0;




    }

    .footer-container-title {
        font-size: 1rem;
        padding: 0;


    }



}



/* for large devices */
@media screen and (max-width: 992px) {
    .main1 {
        flex-direction: column;

    }

    .main4 {
        flex-direction: column;
        gap: 10px;
    }

    .tag {
        width: 50%;
        left: 90px;
        top: -190px;
        transform: translateX(60px) rotate(-19.628deg);
    }
    .main3-content{
        gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .main3-content3{
        margin-left: 50px;
        padding-left: 10px;
    }

}